/* 
    Created on : Dec 14, 2016, 11:54:31 AM
    Author     : rardon
*/
.style1 {
    width: 490px;
}

.style2 {
    width: 300px;
}

.styleCajaFiltro {
    width: 250px;
}

.styleLabelFiltro {
    width: 79px;
    text-align: left;
}

.styleCampoFiltro {
    width: 150px;
    text-align: left;
}

.style5 {
    width: 300px;
    height: 50px;
    text-align: center;
}

.style1 {
    width: 543px;
    height: 50px;
    text-align: center;
}

.style2 {
    height: 29px;
    width: 543px;
    background-image: url('resources/imgs/bk_menu.jpg');
}

.style3 {
    height: 21px;
    width: 299px;
    background-image: url('resources/imgs/bk_menu.jpg');
}

._ctl0_menuPrincipal_0 {
    background-color: white;
    visibility: hidden;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

._ctl0_menuPrincipal_1 {
    color: White;
    font-family: Tahoma;
    font-size: 12px;
    text-decoration: none;
}

._ctl0_menuPrincipal_2 {
    color: White;
    background-color: #003399;
    border-color: Black;
    font-family: Tahoma;
    font-size: 12px;
    text-decoration: none;
    height: 20px;
}

._ctl0_menuPrincipal_3 {
}

._ctl0_menuPrincipal_4 {
    padding: 6px 0px 6px 0px;
}

._ctl0_menuPrincipal_5 {
    color: Black;
}

._ctl0_menuPrincipal_6 {
    background-color: #F4F4F4;
    border-color: #DFDFDF;
    border-width: 1px;
    border-style: solid;
    width: 150px;
    padding: 4px 6px 4px 6px;
}

._ctl0_menuPrincipal_7 {
}

._ctl0_menuPrincipal_8 {
    color: Black;
}

._ctl0_menuPrincipal_9 {
    background-color: #4A7AB1;
}

._ctl0_menuPrincipal_10 {
    color: Black;
}

._ctl0_menuPrincipal_11 {
    background-color: #4A7AB1;
}

._ctl0_menuPrincipal_12 {
    color: Black;
}

._ctl0_menuPrincipal_13 {
    color: Black;
    background-color: #DFE8F6;
    border-color: Black;
    height: 18px;
}

._ctl0_menuPrincipal_14 {
    color: Black;
}

._ctl0_menuPrincipal_15 {
    color: Black;
    background-color: #E2E2E2;
    border-color: #EEEEEE;
}

.top_menu_row {
    background-color: #FF9900;
    line-height: 6px;
}

.header_text {
    font-family: Tahoma;
    font-weight: bold;
    color: #003399;
}

.user_text {
    background-color: #FFFFFF;
    text-align: right;
    color: #003399;
    font-family: tahoma;
    font-size: 8pt;
    font-weight: bold;
}

.logout_text {
    font-style: normal;
    font-family: Tahoma;
    color: white;
    font-size: 9px;
    height: 21px;
    width: 108px;
    background-color: #003399;
}

.dropdown_text {
    color: White;
    font-family: Tahoma;
    font-size: 12px;
    text-decoration: none;
}

.bottom_menu_row {
    background-color: #003399;

}

.btn-transparent {
    color: White;
    background-color: #003399;
    border-color: #003399;
}

.img_logo {
    height: 40px;
    width: 70px;
}

.info-message {
    font-size: 12px;
}

p.message {
    font-size: 12px;
}

td.grid {
    padding: 4px;
}

th.grid {
    padding: 4px;
    text-align: center;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.grid_pager {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 8pt;
/*  background-color: #4A7AB1;*/
    color: white;
}

.grid_pager_selected {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 9pt;
    font-weight: bold;
    background-color: #DFDFDF;
    color: #4A7AB1;
}

label {
    font-size: 8pt;
}

a {
    font-size: 8pt;
}