/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2016, 11:18:59 AM
    Author     : rardon
*/

/* Estilos para el Master Page */
.labelLogin {
    text-align: center;
    font-family: tahoma;
    font-size: small;
}

.textBoxLogin {
    text-align: left;
    font-family: tahoma;
    font-size: small;
}

.buttonLogin {
    text-align: center;
    font-family: tahoma;
    font-size: small;
}

.divLogin {
    top: 300px;
    left: 300px;
    margin-left: 500px;
    margin-top: 300px;
}

.info-message {
    font-size: 18px;
}