/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2016, 11:56:39 AM
    Author     : rardon
*/

.tdfondoTitulo {
    height: 13px;
    background-color: #a71b1c;
    text-align: left;
    vertical-align: middle;
    /*border:solid 1px gray;	*/
}

.tdmarcoTitulo {
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    BORDER-LEFT: gray 1px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: gray 1px solid;
    background-color: #f2f2f2;
}

#contenedor1 {
    background: white;
    width: 400px;
    height: 100%;
    margin-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 5px;
}

#contenedor2 {
    background: white;
    width: 600px;
    height: 100%;
    margin-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 5px;
}

#contenedor3 {
    background: white;
    width: 700px;
    height: 100%;
    margin-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 5px;
}

#contenedor4 {
    background: white;
    width: 800px;
    height: 100%;
    margin-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 5px;
}

#contenedor5 {
    background: white;
    width: 878px;
    height: 100%;
    margin-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 5px;
}

#contenedor6 {
    width: 700px;
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: white;
    height: 100%;
}

.baseFormulario {
    padding-top: 7px;
    padding-left: 5px;
    padding-bottom: 7px;
    width: 900px;
}